body {
    background-color: #E1E1E1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.title {
    height: 60px;
    width: fit-content;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 40px;
    background-color: #03AB32;

    margin-bottom: 50px;

    padding-left: 15%;
    padding-right: 15%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;

}

button {
    padding: 5px 15px 5px 15px;

    margin: 5px;

    border-radius: 30px;
    border: none;
    box-shadow: 0px 1px 2px #0000007f;

    font-weight: 600;

}

.cancelButton {
    background-color: #E60202;
    color: white;
    width: 100px;
}

.confirmButton {
    background-color: #03AB32;
    color: white;
    width: 70px;
}

.whiteBox {
    width: 800px;
    height: 20px;

    margin: 20px 40px 20px 40px;

    padding: 20px;

    border-radius: 10px;
    box-shadow: 0px 1px 2px #0000007f;
    background-color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.whiteCard {
    height: fit-content;
    width: 900px;

    border-radius: 10px;
    box-shadow: 0px 1px 2px #0000007f;
    background-color: white;
    padding-bottom: 30px;
    padding-right: 30px;
    margin: 0px 20px;

    display: flex;
    flex-direction: column;
    align-items: start;
}

#nextStepsCard {
    margin-top: 3px;
    margin-bottom: 20px;
    border-radius: 5px 5px 5px 5px;
    background-color: #C1C1C1;

}

#finishedStepsCard {
    margin-bottom: 3px;
    border-radius: 5px 5px 5px 5px;
    padding-top: 15px;
    padding-bottom: 0px;
    background-color: #C8FFCB;
}

#buttonsContainer {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;

    margin: 10px;
}

input {
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
    font-size: 16px;

}

.styledInput {
    width: 400px;
    height: 30px;
    box-sizing: border-box;
}

input:focus {
    border-color: #007BFF;
    outline: none;
}

/* estilo do input quando está desspaceabilitado */
input:disabled {
    background-color: #f5f5f5;
    cursor: not-allowed;
}

#styledDatePicker {
    width: 100px;
    height: 30px;
    box-sizing: border-box;
    text-align: center;

}

#customDatePicker {
    justify-content: flex-end;
}

ul {
    list-style: 'none';
    padding-left: 0;
}

li {
    display: flex;
    align-items: 'center';
}

/* CHECK BUTTON*/
.checklist {
    list-style: none;
    padding-left: 0;
    padding-left: 40px;
    font-size: 18px;
}

.checklist li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.checklist li::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid black;
    border-radius: 50%;
    margin-right: 8px;
}

.checklist li.checked::before {
    content: '✓';
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}